#header1-0 H1 {
  color: #ffffff;
}
#header1-0 P {
  font-size: 23px;
}
#header1-0 SPAN {
  color: #f7da64;
}
#custom-html-8 {
  /* Type valid CSS here */
}
#custom-html-8 .my-image {
  width: 100%;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons1-9 .mbr-header__text {
  color: #ffffff;
}
#contacts1-13 img {
  width: 100px;
}
